In [13]:
import pandas as pd
data_files = ['201602','201603','201604','201605','201606','201607','201608','201609','201610','201611','201612',
             '201701','201702','201703','201704','201705','201706','201707','201708','201709','201710','201711','201712',
             '201801','201802','201803','201804','201805','201806','201807','201808','201809','201810','201811','201812']
data = pd.read_csv('201601.csv')
for file in data_files:
    data.append(pd.read_csv(file+'.csv'),ignore_index=True)
data = data.drop(columns=['Unnamed: 14'],axis=1)

In [21]:
data = data[(data['ORIGIN']=='BOS')]

In [28]:
data[data['DEP_DELAY']<0] = 0

In [33]:
data.head(5)

,YEAR,FL_DATE,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_DELAY,ARR_DELAY,CANCELLED,CANCELLATION_CODE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
3,2016,2016-01-04,351,BOS,SFO,23.0,-13.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,2016,2016-01-04,357,BOS,SFO,203.0,170.0,0.0,NaN,0.0,0.0,148.0,0.0,22.0
8,2016,2016-01-04,363,BOS,LAX,53.0,18.0,0.0,NaN,0.0,0.0,0.0,0.0,18.0
9,2016,2016-01-04,367,BOS,LAX,25.0,-7.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11,2016,2016-01-05,351,BOS,SFO,46.0,8.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
data_mean = data.groupby('FL_DATE').mean()
data_out = data_mean[['DEP_DELAY','CANCELLED','WEATHER_DELAY']].drop([0])
data_out['DEP_DELAY'] = round(data_out['DEP_DELAY'],2)
data_out['CANCELLED'] = round(data_out['CANCELLED'],2)
data_out['WEATHER_DELAY'] = round(data_out['WEATHER_DELAY'],2)

In [54]:
data_out.head(5)

            DEP_DELAY  CANCELLED  WEATHER_DELAY
FL_DATE
2016-01-01      15.81   0.009174       0.000000
2016-01-02      19.70   0.000000       0.000000
2016-01-03      20.93   0.000000       0.000000
2016-01-04      23.72   0.012987       0.205882
2016-01-05      23.80   0.005618       3.925926

In [58]:
data_out.to_csv('data.csv')